.divNav {
    position: relative;
    margin-bottom: 5px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navGroup {
    padding: 0 15px 0 15px;
}

.linkNav {
    color: var(--strong-color);
    text-decoration: none;
    list-style: none;
}

.navGroup {
    color: var(--strong-color);
    text-decoration: none;
    list-style: none;
}

.linkNav:visited {
    color: var(--light-color);
}

.linkNav:hover {
    color: var(--hightlight-color);
    
}