* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16pt;
}

:root {
  --focus-color: #b06c18;
  --strong-color: 	#4b2303;
  --light-color: #fac069;
  --hightlight-color: #ce1430;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
