* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16pt;
}

:root {
  --focus-color: #9FFCFD;
  --strong-color: 	#7c3e1d;
  --light-color: #f9bf1e;
  --hightlight-color: #16ff00;
  --blue-color: #1e06f6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
