h2 {
    font-weight: 600;
    font-style: italic;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size:calc(8px + 0.3vw);
}

h3 {
    font-weight: 300;
    font-style: italic;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size:calc(7px + 0.3vw);
}

header {
    height: 2em;
    background-color: black;
    margin: 0 0 0 0;
    padding: auto;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    color: white;
}

a {
    text-decoration: none;
}

a:visited {
    color: #555566;
}

a:hover {
    text-decoration: underline;
}

.divCardContainer {
    height: 13vw;
    min-height: 120px;
    width: 26vw;
    min-width: 300px;
    margin-bottom: calc(5px + 0.3vw);
}

.divCard {
    display: flex;
    height: 13vw;
    min-height: 120px;
    width: 13vw;
    min-width: 120px;
    border-radius: calc(60px + 6.5vw);
    background: linear-gradient(121deg, rgba(255,255,255,0) 13%, rgba(0,159,255,1) 100%);
    transition: all 300ms ease-in;
    transition-delay: 1s;

}
.divCard:hover {
    width: 26vw;
    min-width: 240px;
    border-radius: 7vw .7vw 7vw 7vw;
    transition: all 600ms ease-out;
}

.divCard div * {
    display: flex;
    --flex: inherit;
    overflow: hidden;
    text-overflow: hidden;
    color: white;
    white-space: nowrap;
    width: 0;
    height: auto;
    margin-top: calc(7px + 1vw);
    transition: all 270ms ease-in;
    transition-delay: 1s;
}

.divCard:hover div *{
    display: flex;
    visibility: visible;
    transition: all 1s ease-out;
    transition-delay: 300ms;
    width: 100%;
    height: auto;
}

.divCard .divImg, .divCard .divImg img{
    height: 11.7vw;
    min-height: 108px;
    width: 11.7vw;
    min-width: 108px;
    padding-right: calc(7px + 0.7vw);
    border-radius: 100%;
    flex-shrink: 0;
    object-fit: cover;
}
.divCard .divImg img{
    height: 11.7vw;
    min-height: 108px;
    width: 11.7vw;
    min-width: 108px;
    transition: none;
    display: float;
    position: relative;
    border: calc(6px + 0.3vw) solid white;
    margin: 0 0 0 0; 
    padding: 0 0 0 0;
}
.divCard .divSpecs {
    position: relative;
    margin-left: calc(6px + 0.3vw);
}

